<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;0,800;1,800&display=swap" rel="stylesheet"> 
  <title>Document</title>
</head>
<body>

  <header class="wrapper-nav">
    <div class="drawer">
      <button id="drawer">☰</button>
    </div>
    <div class="logo"><h3>IslamKu</h3></div>
    <nav id="menu" class="logo">
      <ul>
        <li class="menu-item"><a href=""></a>Home</li>
        <li class="menu-item"><a href=""></a>Berita</li>
        <li class="menu-item"><a href=""></a>Lainnya</li>
      </ul>
    </nav>
  </header>
  
  <!-- <button id="menu" class="header_menu">☰</button>
  <nav id="drawer" class="drawer">
     <div class="wrapper-nav">  
       <div class="logo">IslamKu</div>
       <div class="menu" tabindex="0"><ul>
         <li><a href="index.html"></a> Home</li>
         <li><a href="#/berita"></a> Berita</li>
         <li>Lainya</li>
        </ul></div>
     </div>
  </nav> -->
  <!-- <button id="menu" class="header_menu">☰</button>
  <nav id="drawer" class="drawer">
    <div class="menu" tabindex="0"><ul>
      <li class="menu-item"><a href="index.html"></a>Home</li>
      <li class="menu-item"><a href="#/Berita"></a>Berita</li>
      <li class="menu-item">Lainya</li>
    </ul></div>
  </nav> -->
  <div class="skip"><a href="#content">skip to content</a></div>
  <div class="hero">
    <div class="wrapper-hero">
    <div class="hero-left"><img src="./assets/image/samples-svgrepo-com.svg" height="200px" alt="Berdoa"></div>
      <div class="hero-right">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit ipsam laboriosam quisquam iure est voluptate!</p>
      </div>
    </div>
  </div>
  <div class="sholat">
    <div class="wrapper-sholat">
      <div class="search-sholat"><input list="kota" type="text" placeholder=" Cari kota..."><a href="#" class="fa fa-search"></a>
      <datalist id="kota">
  <option value="Tegal">
  <option value="Banjarmasin">
  <option value="Jakarta">
</datalist>
      </div>
      <div class="sholat-content">
        <div class="card-sholat">
          <div class="logo-sholat"><img src="./image/samples-svgrepo-com.svg" alt=""></div>
          <div class="jam-sholat">19.00</div>
        </div>
         <div class="card-sholat">
          <div class="logo-sholat"><img src="./image/samples-svgrepo-com.svg" alt=""></div>
          <div class="jam-sholat">19.00</div>
        </div>
         <div class="card-sholat">
          <div class="logo-sholat"><img src="./image/samples-svgrepo-com.svg" alt=""></div>
          <div class="jam-sholat">19.00</div>
        </div>
         <div class="card-sholat">
          <div class="logo-sholat"><img src="./image/samples-svgrepo-com.svg" alt=""></div>
          <div class="jam-sholat">19.00</div>
        </div>
         <div class="card-sholat">
          <div class="logo-sholat"><img src="./image/samples-svgrepo-com.svg" alt=""></div>
          <div class="jam-sholat">19.00</div>
        </div>
      </div>
    </div>
  </div>
  <div class="hadist">
    <div class="wrapper-hadist">
         <div class="search-hadist"><input type="text" placeholder=" Cari Hadist"><a href="#" class="fa fa-search"></a></div>
        <div class="card-hadist">
          <div class="nama-hadist"><h4>Bukhori Muslim</h4></div>
          <div class="isi-hadist">Lorem ipsum dolor sit amet consectetur.</div>
        </div>
        <div class="card-hadist">
          <div class="nama-hadist"><h4>Bukhori Muslim</h4></div>
          <div class="isi-hadist">Lorem ipsum dolor sit amet consectetur.</div>
        </div>
        <div class="card-hadist">
          <div class="nama-hadist"><h4>Bukhori Muslim</h4></div>
          <div class="isi-hadist">Lorem ipsum dolor sit amet consectetur.</div>
        </div>
    </div>
  </div>

  <main id="content"></main>

  <footer>
    <p>Copyright &copy; 2021 - <span class="spanFooter"> IslamKu </span></p>
  </footer>
</body>
</html>