<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;0,800;1,800&display=swap" rel="stylesheet"> 
  <title>Islamku</title>
<body>
  <nav>
     <div class="wrapper-nav" id="drawer">       
       <div class="logo">IslamKu</div>
       <div id="menu" class="menu"><ul>
         <li><a href="#/">Home</a></li>
         <li><a href="#/alquran">Al-Quran</a></li>
         <li><a href="#/hadist">Hadist</a></li>
         <li><a href="https://github.com/rizkiramadhanx/Capstone-project-IslamKu">Lainya</a></li>
        </ul></div>
     </div>
  </nav>
  <main id="content"></main>
  <footer>
    <p>Copyright &copy; 2021 - <span class="spanFooter"> IslamKu </span></p>
  </footer>
</body>
</html>